.label {
    font-family: 'Allison', cursive;
    font-size: 3vw;
    background-color: rgb(44, 177, 230);
    padding-left: 2%;
    color: white;
    
    
    
}
body {
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-color: #bedfe8;
}
.accordian {
    margin: 1%;
}
.contentbox {
    margin: 10%;
}
.content {
    background-color: white;
    height: 0;
    position: relative;
    overflow: hidden;
    transition: 1s;
    
}
.label::before {
    content: '+';
position: relative;
left: 95%;
    
}
.active .label::before {
    content: '-';
position: relative;
left: 95%;
    
}
.active .content {
    background-color: white;
    height: 100%;
    padding: 5%;
    font-size: 1vw;
    transition: 1s;
    
}
footer {
    position: fixed;
    bottom: 2px;
    left: 2px;
    
}
.atag {
    font-size: 1vw;
    background: none;
    position: relative;
    left: -1%;
    letter-spacing: normal;
}
p {
    font-size: 1vw;
    color: rgb(255, 0, 0);
}
.date {
    font-size: 1vw;
    color: rgb(255, 0, 0);
}